{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1 align='center' style="color:rgb(22, 18, 248);"><strong>Home Page</strong></h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1 align="center" style="color:rgb(22, 18, 248);">Welcome</h1>
            <p>Welcome to my blog! Here we'll be sharing everything about Industry 4.0, including Lean Six Sigma, surge in Big Data & Artificial Intelligence and how IOT has become the integral part of Operational Excellence and Industry 4.0. We'll look into all the dimensions of Operational Excellence that are changing because of the digitilization. We would discuss pretty much everything that has anything to do with Continuous Improvement! </p>
            <p>Go visit another similar blog at <a style="color:rgb(22, 18, 248);" href="https://hassi-blog.herokuapp.com/"><b>HassiBlog</b></a> This was developed by me couple of days ago.</p>
            <p align = 'center'>
                <a class="btn btn-primary" href="/posts" role="button">Go To Blog Posts&raquo;</a>
            </p>
        </div>
    </div> <br><br>
    <bold><h5 class='footer-description' align='center' style="color:rgb(22, 18, 248);">Developed by Hassi❤️| © 2020 Hasnain Mehmood.  All rights reserved!</h5>
</main>
{% endblock %}